/* The strange format of these selectors is due to Gmail's limited CSS support
-- only tag names may be used. Therefore the entire digest is in a mostly-
harmless <dl> tag so that all selectors may be scoped. For more details, see:
http://codeascraft.com/2014/03/13/responsive-emails-that-really-work/ */

dl {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10pt;
  color: #000;
  max-width: 800px;
  margin: 0;
}

dl a {
  text-decoration: none;
  color: #4183c4;
}

/* Digest intro paragraph */
dl > p {
  font-size: 12pt;

}

/* User link */
dl > p > a {
  font-weight: bold;
  color: #000;
}

dl > p > a img {
  vertical-align: bottom;
  padding-right: 3px;
}

/* Repository header */
dl > h2 {
  font-size: 20pt;
  font-weight: bold;
  margin: .75em 0 .5em 0;
}

/* Commit */
dl > div > div {
  background: #fafafa;
  border: solid 1px #ccc;
  border-radius: 3px;
  margin: 1em 0;
}

/* Commit message */
dl > div > div > h3 {
  padding: 8px;
  margin: 0;
}

dl > div > div > pre {
  margin: 0;
  padding: 0 8px 8px;
}

/* Commit footer */
dl > div > div > div {
  background: #fff;
  border-top: solid 1px #ddd;
  padding: 8px;
}

dl > div > div > div > i {
  color: #666;
}

dl > div > div > div > a {
  font-family: monospace;
  float: right;
}
