body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10pt;
  margin: 0;
  padding: 0;
}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.header {
  position: relative;
  height: 164px;
  overflow: hidden;
  background: #eee;
}

.header:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 4px;
  bottom: 0;
  background: url("images/body-shadow@2x.png");
  background-size: 4px 4px;
}

.header img {
  border: 0;
  display: block;
  position: absolute;
  top: 10px;
  left: 50%;
  margin-left: -555px;
}

.card-background {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -555px;
  z-index: -1;
}

@media (max-width: 600px) {
  .header {
    height: 104px;
  }

  .header img {
    top: -24px;
  }

  .card-background {
    top: -10px;
  }
}

.body {
  padding: 10px;
  max-width: 1102px;
  margin: 0 auto;
  position: relative;
}

.body h1 {
  margin-top: 0;
  color: #756344;
}

.body h1:empty {
  display: none;
}

.blurb {
  font-size: 16px;
  line-height: 24px;
  margin: 1em 15px;
}

.blurb .avatar {
  vertical-align: text-bottom;
  padding-right: 3px;
}

.action-button {
  outline: 0;
  -webkit-appearance: none;
  border: dashed 2px #b52e26;
  color: #b52e26;
  font-family: Courier, monospace;
  background: transparent;
  border-radius: 8px;
  font-size: 18pt;
  font-weight: bold;
  padding: 3px 5px;
  cursor: pointer;
  background: #fefcef;
}

.action-button:active {
  background: #fff193;
}

form.inline {
  display: inline;
}

input[type="submit"].inline {
  -webkit-appearance: none;
  display: inline;
  background: transparent;
  padding: 0;
  border: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: inherit;
  color: #4183c4;
  cursor: pointer;
}

input[type="submit"].inline:hover {
  text-decoration: underline;
}

input[type="submit"].inline.destructive {
  text-decoration: underline;
  color: #900;
}

.flash {
  position: absolute;
  top: 20px;
  right: 20px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  color: #fff;
  font-size: 12pt;
  padding: 10px;
  transition: opacity ease-in-out 300ms;
  opacity: 0;
}

.flash.visible {
  opacity: 1;
}

.footer {
  padding: 10px;
  max-width: 1102px;
  margin: 0 auto;
  position: relative;
  color: #999;
}

.footer .contents {
  border-top: dashed 1px #ccc;
  padding-top: 10px;
  text-align: right;
}

.footer a {
  color: #779dc2;
}

#pitch {
  padding-right: 230px;
  position: relative;
}

#pitch #screenshot {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 206px;
  height: 260px;
  border: dashed 1px #d7cab0;
  background: #fff;
  padding: 5px;
}

#pitch h2 {
  color: #444;
  margin: 10px 0;
}

#pitch p.small {
  font-size: 13px;
}

#sign-in-form {
  text-align: center;
  white-space: nowrap;
  padding-right: 230px;
}

#sign-in-form .octicon-mark-github {
  pointer-events: none;
  vertical-align: -2px;
  color: #76201b;
  z-index: 1;
  position: relative;
  left: 12px;
}

#sign-in-form input[type="submit"] {
  padding: 8px 5px 5px 43px;
  margin-left: -32px;
}

#sign-in-form input[type="submit"]:before {
  content: "\f00a";
}

#sign-in-form label {
  color: #a02b24;
  font-family: Courier, monospace;
  font-size: 14px;
}

#sign-in-form input[type="checkbox"] {
  visibility: hidden;
}

#sign-in-form input[type="checkbox"]:before {
  color: #a02b24;
  visibility: visible;
  content: "\2610";
  font-size: 18px;
  position: relative;
  top: -6px;
  left: 6px;
}

#sign-in-form input[type="checkbox"]:checked:before {
  content: "\2611";
}

#sign-in-form label {
  display: block;
}

@media (max-width: 450px) {
  #pitch {
    padding-right: 0;
  }
  #pitch #screenshot {
    position: static;
    margin: 0 auto;
  }
  #sign-in-form {
    padding-right: 0;
  }
  #sign-in-form .octicon-mark-github {
    font-size: 30px;
    left: 10px;
  }
  #sign-in-form .action-button {
    font-size: 16pt;
  }
}

#primary-actions {
  margin: 1em 0;
  text-align: center;
  font-size: 16px;
  color: #999;
}

@media (max-width: 450px) {
  #primary-actions form.inline {
    display: block;
    margin: 5px 0;
  }
}

.setting {
  margin: 1em 0;
}

.setting .explanation {
  color: #999;
  margin: 0;
}

.repos {
  margin-left: 1em;
}

.repos h2 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  margin: 10px 0 5px;
}

.repos h2:after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  height: 1px;
  background: #ccc;
}

.repos h2 .avatar {
  height: 16px;
}

.repos ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.repos .repo {
  overflow: hidden;
  margin: 5px 0;
  padding: 0;
}

.repos .repo.private .glyph {
  color: #baac79;
}

.repos .repo .vintage {
  padding-left: 1em;
  color: #999;
  font-style: italic;
}

#delete-account-form {
  border-top: dashed 1px #ccc;
  margin-top: 1em;
  padding-top: 1em;
}
