body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10pt;
  margin: 0;
  padding: 0;
}

a {
  color: #4183c4;
  text-decoration: none;
}

.header {
  position: relative;
  height: 164px;
  overflow: hidden;
  background: #eee;
}

@media (max-width: 600px) {
  .header {
    height: 138px;
  }
}

.header:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 4px;
  bottom: 0;
  background: url("images/body-shadow@2x.png");
  background-size: 4px 4px;
}

.header img {
  border: 0;
  display: block;
  position: absolute;
  top: 10px;
  left: 50%;
  margin-left: -555px;
}

.body {
  padding: 10px;
  max-width: 1102px;
  margin: 0 auto;
}

.body h1 {
  margin-top: 0;
  color: #756344;
}

#sign-in-form {
  margin: 0 auto;
}

#sign-in-form input[type="submit"] {
  font-size: 18pt;
  font-weight: bold;
}

#sign-in-form label {
  display: block;
}

#primary-actions,
#primary-actions input[type="submit"] {
  font-size: 14pt;
}

#primary-actions {
  margin: 2em 0;
}

#send-form {
  display: inline;
}

.setting {
  margin: 1em 0;
}

.setting .explanation {
  color: #999;
  margin: 0;
}

.repos {
  margin-left: 1em;
}

.repos h2 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  margin: 10px 0 5px;
}

.repos h2:after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  height: 1px;
  background: #ccc;
}

.repos h2 .avatar {
  height: 16px;
}

.repos ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.repos .repo {
  overflow: hidden;
  margin: 5px 0;
  padding: 0;
}

.repos .repo.private .glyph {
  color: #baac79;
}

.repos .repo .vintage {
  padding-left: 1em;
  color: #999;
  font-style: italic;
}

#delete-account-form {
  border-top: dashed 1px #ccc;
  margin-top: 1em;
  padding-top: 1em;
}

input[type="submit"].destructive {
  -webkit-appearance: none;
  display: inline;
  background: transparent;
  padding: 0;
  border: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10pt;
  text-decoration: underline;
  color: #900;
}

.flash {
  position: absolute;
  top: 20px;
  right: 20px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  color: #fff;
  font-size: 12pt;
  padding: 10px;
  transition: opacity ease-in-out 300ms;
  opacity: 0;
}

.flash.visible {
  opacity: 1;
}
