<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>RetroGit {{template "title" .}}</title>
  <meta name="viewport" content="initial-scale=1 maximum-scale=1 user-scalable=no">
  <link rel="stylesheet" href="/static/main.css">
  <link rel="stylesheet" href="/static/octicons/octicons.css">
</head>
<body>
  <div class="header">
    <img src="/static/images/header.png" srcset="/static/images/header.png 1x, /static/images/header@2x.png 2x" width="1111" height="153" alt="GitHop">
  </div>

  <div class="body-background">
    <div class="body">
      <h1>{{template "title" .}}</h1>

      {{template "body" .}}
    </div>
  </div>
</body>
</html>
