<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{template "title" .}}</title>
	<link rel="stylesheet" href="/static/main.css">
	<link rel="stylesheet" href="/static/octicons/octicons.css">
</head>
<body>
  <div class="header">
    <img src="/static/images/header.png" srcset="/static/images/header.png 1x, /static/images/header@2x.png 2x" width="1114" height="154" alt="GitHop">
  </div>

  <div class="body">
    <h1>{{template "title" .}}</h1>

    {{template "body" .}}
  </div>
</body>
</html>
