{{template "digest" .Digest}}

<hr noshade size="1" color="#ccc">

<div style="{{style "proportional" "email-footer"}}">

  <p style="{{style "email-footer.paragraph"}}">
    You are receiving this email because you set up a
    <a href="{{absoluteRouteUrl "index"}}">RetroGit</a> account.
  </p>

  <p style="{{style "email-footer.paragraph"}}">
   <a href="{{absoluteRouteUrl "settings"}}">Update your email preferences</a>
   | <a href="{{absoluteRouteUrl "view-digest"}}">View digest in browser</a>
  </p>

  <p style="{{style "email-footer.paragraph"}}">
    RetroGit is a project by
    <a href="http://persistent.info">Mihai Parparita</a>.
  </p>

</div>
