{{define "title"}}GitHop - Settings{{end}}

{{define "repo"}}
    <li>
      <span class="octicon octicon-{{.TypeAsOcticonName}}"></span>
      <a href="{{.HTMLURL}}">{{.FullName}}</a>
    </li>
{{end}}

{{define "body"}}

<p>
  <form method="POST" action="{{routeUrl "set-timezone"}}">
    <select name="timezone_name">
        {{$accountTimezoneName := .Account.TimezoneName}}
        {{range .Timezones}}
          {{if .LocationName}}
            <option value={{.LocationName}} {{if eq .LocationName $accountTimezoneName}}selected{{end}}>{{.LocationName}} (GMT {{.DisplayUTCOffset}})</option>
          {{else}}
            <option disabled></option>
          {{end}}
        {{end}}
    </select>

    <input type="submit" value="Set Timezone">
  </form>
</p>

<p>
  You have {{len .Repos.AllRepos}} repositories:
</p>

<ul>
  <li>
    <a href="https://github.com/{{.User.Login}}">
    <img src={{.User.AvatarURL}}
         width="20"
         height="20"
         border="0">{{.User.Login}}</a>
  </li>
  <ul>
    {{range .Repos.UserRepos}}
      {{template "repo" .}}
    {{end}}
  </ul>
</ul>

<ul>
  {{range .Repos.OtherUserRepos}}
    <li>
      <a href="https://github.com/{{.User.Login}}">
      <img src={{.User.AvatarURL}}
           width="20"
           height="20"
           border="0">{{.User.Login}}</a>
    </li>
    <ul>
      {{range .Repos}}
        {{template "repo" .}}
      {{end}}
    </ul>
  {{end}}
</ul>

<ul>
  {{range .Repos.OrgRepos}}
    <li>
      <a href="https://github.com/{{.Org.Login}}">
      <img src={{.Org.AvatarURL}}
           width="20"
           height="20"
           border="0">{{.Org.Login}}</a>
    </li>
    <ul>
      {{range .Repos}}
        {{template "repo" .}}
      {{end}}
    </ul>
  {{end}}
</ul>

{{end}}

