{{define "title"}}GitHop - Settings{{end}}

{{define "repo"}}
    <li class="repo {{.TypeAsClassName}}">
      <label>
        <input type="checkbox" name="repo-{{.ID}}" value="include" {{if .IncludeInDigest}}checked{{end}}>
        <span class="glyph octicon octicon-{{.TypeAsOcticonName}}"></span>
        <a href="{{.HTMLURL}}">{{.FullName}}</a>
        <span class="vintage">{{.DisplayVintage}}</span>
      </label>
    </li>
{{end}}

{{define "body"}}

<form method="POST" action="{{routeUrl "save-settings"}}">

<div class="setting">
  <label>
    Timezone:
    <select name="timezone_name">
        {{$accountTimezoneName := .Account.TimezoneName}}
        {{range .Timezones}}
          {{if .LocationName}}
            <option value="{{.LocationName}}" {{if eq .LocationName $accountTimezoneName}}selected{{end}}>{{.LocationName}} (GMT {{.DisplayUTCOffset}})</option>
          {{else}}
            <option disabled></option>
          {{end}}
        {{end}}
    </select>
    <div class="explanation">
      Used for determining day boundaries and timestamps in emails.
    </div>
  </label>
</div>

<div class="setting">
  <label>
    Email address:
    <select name="email_address">
      {{$accountEmailAddress := .AccountEmailAddress}}
      {{range .EmailAddresses}}
          <option value="{{.}}" {{if eq . $accountEmailAddress}}selected{{end}}>{{.}}</option>
      {{end}}
    </select>
  </label>
    <div class="explanation">
      Where your digest will be sent to.
    </div>
</div>

<p>
  You have {{len .Repos.AllRepos}} repositories. Select which you would like to include in your digest:
</p>

<div class="repos">
  <h2>
    <a href="https://github.com/{{.User.Login}}">
    <img src="{{.User.AvatarURL}}" class="avatar">{{.User.Login}}</a>
  </h2>
  <ul>
    {{range .Repos.UserRepos}}
      {{template "repo" .}}
    {{end}}
  </ul>
</div>

{{range .Repos.OtherUserRepos}}
  <div class="repos">
    <h2>
      <a href="https://github.com/{{.User.Login}}">
      <img src="{{.User.AvatarURL}}" class="avatar">{{.User.Login}}</a>
    </h2>
    <ul>
      {{range .Repos}}
        {{template "repo" .}}
      {{end}}
    </ul>
  </div>
{{end}}

{{range .Repos.OrgRepos}}
  <div class="repos">
    <h2>
      <a href="https://github.com/{{.Org.Login}}">
      <img src="{{.Org.AvatarURL}}" class="avatar">{{.Org.Login}}</a>
    </h2>
    <ul>
      {{range .Repos}}
        {{template "repo" .}}
      {{end}}
    </ul>
  </div>
{{end}}

  <input type="submit" value="Save Settings">
</form>

{{end}}

